<div class="carrosel">
    <main  class="titulo">
        <h2>{{categoria}}</h2>
        <h1>{{OBJ.itemsobj.item1}}</h1><!--Usando interpolação acessando um OBJ-->
        <!--<h1>{{OBJ.?itemsobj.item1}}</h1>Usando interpolação acessando um OBJ, sendo que se os objetos depois de itemsobj seja nulo//indefinido, ele vai mostraar indefinido, mas não vai dar erro -->
        <h1>{{OBJ.itemsobj.item1}}</h1><!--Usando interpolação acessando um OBJ-->
    </main>

    <div class="ElementoCarrosel">
    <app-elementocarrosel></app-elementocarrosel>
    <app-elementocarrosel></app-elementocarrosel>
    <app-elementocarrosel></app-elementocarrosel>
    </div>
</div>